@charset "UTF-8";

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    image-resolution: 1080p;
}
.p1 {
    font-family: Arial, Helvetica, sans-serif;
}
.arrow {
    margin-left: 0px;
    margin-top: 0px;
    width: 13px;
    height: 13px;
    image-resolution: 1080p;

}
